<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<link rel="stylesheet" href="styles/nysl.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>House Congress 113 TGIF</title>
</head>

<body>
	<div class="container">
		<div class="row justify-content-between">
			<div class="col col-sm-5 col-md-3 col-lg-2 col-xl-2">
				<img id="logo" src="images/logo.jpg" alt="logo Tgif, una lupa" class="rounded-circle">
				<a>TGIF Logo</a>
			</div>
			<div class="col col-sm-5 col-md-3 col-lg-2 col-xl-2 " id="contacto">
				<img id="mail" src="images/mail.png" alt="mail, un sobre">
				<a href="mailto:info@tgif.net"> info@tgif.net </a>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="home.html">Home</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Congress 113
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown1">
									<a class="dropdown-item">House</a>
									<a class="dropdown-item" href="senate-data.html">Senate</a>

								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Attendance
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown2">
									<a class="dropdown-item" href="house-attendance.html">House</a>
									<a class="dropdown-item" href="senate-attendance.html">Senate</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Party Loyalty
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown3">
									<a class="dropdown-item" href="house-party-loyalty.html">House</a>
									<a class="dropdown-item" href="senate-party-loyalty.html">Senate</a>
								</div>
							</li>
						</ul>
					</div>


				</nav>
			</div>
		</div>



		<div class="row">
			<div class="col-xl-8">
				<h2>Congressmen</h2>
				<p>The major power of the House is to pass federal legislation that affects the entire country, although its bills must also be passed by the Senate and further agreed to by the U.S. President before becoming law (unless both the House and Senate re-pass the legislation with a two-thirds majority in each chamber). The House has some exclusive powers: the power to initiate revenue bills, to impeach officials (impeached officials are subsequently tried in the Senate), and to elect the U.S. President in case there is no majority in the Electoral College.</p>
				<p>Each U.S. state is represented in the House in proportion to its population as measured in the census, but every state is entitled to at least one representative. </p>
			</div>
		</div>
		<div class="container" id="app">
			<div class="row justify-content-between">
				<div class="col">
					<strong>Filter by Party: </strong>
					<label><input type="checkbox" name="filter" value="R" onchange="filter()" checked>Republic</label>
					<label><input type="checkbox" name="filter" value="D" onchange="filter()" checked>Democrat</label>
					<label><input type="checkbox" name="filter" value="I" onchange="filter()" checked>Independet</label>

				</div>

				<div class="col-3">

					<label>
						<strong>Filter by State:</strong>
						<select id="estados" onchange="filter()">
							<option value="" selected="selected">--All--</option>
							<option v-for="state in states" v-bind:value="state">{{state}}</option>
						</select>
					</label>
				</div>
			</div>


			<!--Table container-->
			<div class="row">
				<div class="col-xl-12">

					<table class="table">
						<tr>
							<th>Name</th>
							<th>Party</th>
							<th>State</th>
							<th>Years in Office</th>
							<th>%Vote w/Party</th>
						</tr>
						<tbody>
							<!-- v-for va a trabajar sobre los datos que tenga data -->
							<tr v-for="miembro in filteredMembers">
								<td><a v-bind:href="miembro.url">{{miembro.last_name}} {{miembro.first_name}} {{miembro.middle_name || " "}} </a></td>
								<td>{{miembro.party}}</td>
								<td>{{miembro.state}}</td>
								<td>{{miembro.seniority}}</td>
								<td>{{miembro.votes_with_party_pct}} {{"%"}}</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<div class="card-footer text-muted text-center">
					@2016 TGIF | All Rights Reserved
				</div>
			</div>

		</div>
	</div>
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--	<script src="js/pro-congress-113-house.js"></script>-->
	<!--	<script src="js/house.js"></script>-->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- Include the Vue library -->
	<script src="https://unpkg.com/vue/dist/vue.js"> </script>
	<!-- Carga script para acceder al listado de miembros senate, con datos reales desde el servidor-->
	<script src="js/house-configurations.js"></script>
	<script src="js/congress113.js"></script>


</body>

</html>
